# 기본
fastapi
uvicorn
pandas
requests
itsdangerous

# 저장소
elasticsearch
pymysql
sqlalchemy
pydantic[email]

# 암호화
argon2-cffi
python-dotenv
passlib[bcrypt]

# 크롤링
beautifulsoup4
selenium
feedparser
webdriver-manager
apscheduler

# ML
torch
transformers
scikit-learn
tqdm
spacy
keybert
sentence-transformers